<h1>Elliott Schwarzman</h1>
<%= image_tag "nschwrzm_picture.jpg" %>

<h2>Technically a senior who has completed:</h2>
<p>
    <ul>
        <li><%= link_to "all GenEd credits", "https://catalog.memphis.edu/content.php?catoid=14&navoid=556" %></li>
        <li><%= link_to "all Math credits", "https://www.memphis.edu/msci/" %></li>
        <li><%= link_to "most CS credits", "https://www.memphis.edu/cs/" %></li>
        <li><%= link_to "some Sciences credits", "https://www.memphis.edu/cas/" %></li>
    </ul>
</p>